@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import '../../assets/styles/variables';

.home-page {
  overflow: hidden;

  .home-page-banner {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/images/home-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .home-page-banner-titles {
      width: 100%;
      height: 100vh;
      user-select: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .home-page-banner-titles-p {
        letter-spacing: 3px;
        padding: 0;
        margin-bottom: 50px;
        font-size: 180px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 5px 3px 5px #2d2f32;
      }

      .home-page-banner-titles-span {
        font-size: 20px;
      }

      .home-page-button {
        margin-top: 20px;
        border-radius: 25px;
        font-size: $base-big-font;
        width: 200px;
        height: 50px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    .home-page-banner {
      min-height: 100vh;

      background-position: left;

      .home-page-banner-titles {
        top: 10%;
        left: 10%;

        .home-page-banner-titles-p {
          font-size: 50px;
        }

        .home-page-button {
          margin-top: 10px;
          width: 140px;
          height: 40px;
          font-size: $base-small-font;
        }
      }
    }
  }

  @media screen and (min-width: 425px) and (max-width: 768px) {
    .home-page-banner {
      min-height: 100vh;
      background-position: left;

      .home-page-banner-titles {
        top: 10%;
        left: 10%;

        .home-page-banner-titles-p {
          font-size: 70px;
        }

        .home-page-banner-titles-span {
          font-size: 60px;
        }

        .home-page-button {
          width: 170px;
          height: 50px;
          font-size: $base-standard-font;
        }
      }
    }
  }
}
