@import '../../../../assets/styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 7px $base-border-light-grey;
  border-radius: 10px;
  width: 820px;
  height: auto;
  justify-content: center;
  padding: 40px;
  margin-top: 30px;

  @media screen and (max-width: 425px) {
    width: 300px;
    padding: 20px;
    margin-top: 20px;
  }

  @media screen and (min-width: 425px) and (max-width: 768px) {
    width: 560px;
    margin-top: 10px;
  }

  .dx-layout-manager .dx-field-item:not(.dx-last-col) {
    padding-right: 0;
  }

  input,
  textarea {
    outline: none;
    border: 0;
  }

  ;

  .card__question-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;

    .card__question-settings_question {
      width: 500px;
    }

    .card__question-settings_question-type {
      width: 300px;
    }
  }  
}

.question-type-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
.card-focused {
  border-left-width: 10px;
  border-left-style: solid;
  border-radius: 10px;
  border-left-color: $base-theme-color;
}
