.requirement-template-list-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  .card {
    width: 80vw !important;
    height: 50vh;
  }
}
