@import '../../assets/styles/variables.scss';

.user-requirements-container {
  width: 100%;
  height: 90vh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

.card {
  width: 1300px;

  .user-requirements-header {
    font-size: $base-huge-font;
    font-weight: bolder;
  }
}
}
