@import '../../assets/styles/variables.scss';

.navbar {
  display: flex;
  width: 100%;
  height: 70px;
  border-bottom: 1px $base-border-light-grey solid;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.navbar__item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.navbar__logo {
  display: flex;
  cursor: pointer;

  :first-child {
    width: 40px;
  }

  :last-child {
    width: 120px;
  }
}
.navbar__search {
  display: flex;
}
.navbar__empty {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
