// https://www.geeksforgeeks.org/how-to-dynamically-update-scss-variables-using-reactjs/

$base-theme-color: #6639b6;
$base-dark-grey: #464646;
$base-border-light-grey: #e5e5e5;
$base-light-grey: #dddddd;
$base-page-background: #f6f6f6;

$base-small-font: 12px;
$base-standard-font: 14px;
$base-big-font: 16px;
$base-large-font: 18px;
$base-huge-font: 20px;